.wbdv-main {
    position: relative;
}


.module_selected {
    background-color: #cce5ff;
    border: none;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;

}

.module_unselected {
    background-color: white;
    border: none;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.module_unselected:hover {
    background-color: #cce5ff
}

.wbdv-module-list {
    width: 20%;
    position: fixed;
    top: 36px;
    left: 0;
    background-color: #404040;
    color: white;

}

.wbdv-module-item:hover {
    background-color: #22A7F0;
    color: white;
}

.wbdv-module-item-delete-btn {
    right: 0%;
    margin-left: 20px;
    font-size: 15px;
}

.wbdv-module-item-delete-btn:hover {
    background-color: darkred;
    color: white;
}

.wbdv-module-item-check-btn {
    margin-let: 5px;
    font-size: 15px;
}

.wbdv-module-item-check-btn:hover {
    background-color: darkred;
    color: white;
}

.wbdv-module-item-edit-btn {
    font-size: 15px;
    margin-left: 25px;
}

.wbdv-module-item-edit-btn:hover {
    background-color: darkred;
    color: white;
}

.wbdv-module-list {
    margin-top: 20px;
    float: left;
}

.wbdv-choose {
    background-color: #22A7F0;
    color: white;
}

.wbdv-module-item-add-btn {
    background-color: #404040;
    padding: 15px 35px;
    text-align: right;
    display: inline-block;
    font-size: 25px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;

}

.wbdv-content {
    margin-left: 20%;

}

.wbdv-topic-pill-list {
    margin-left: 22%;
    margin-top: 10px;
}

.wbdv-boxed {
    border: 0.1px solid #BEBEBE;
    padding: 1%;
    margin-left: 3%;
    margin-top: 5%;
    margin-right: 3%;
}

.btn-success {
    display: inline-block;
    margin-left: 10px;
}

.wbdv-big-heading {
    display: inline-block;
}

.wbdv-up {
    display: inline-block;
}

.wbdv-down {
    margin-left: 5px;
}

.wbdv-widget-type {
    display: inline-block;
}


.wbdv-red-close {
    background-color: #DE1616;
    display: inline-block;
    color: white;
    margin-left: 10px;


}

.wbdv-red-plus {
    background-color: #DE1616;
    border-radius: 50%;
    color: white;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    line-height: 37px;
    right: 40px;
    bottom: 20px;
    position: fixed;
}

.wbdv-course-title {
    display: inline-block;
    margin-top: 5px;
}

.wbdv-course-editor.wbdv-close {
    font-size: 20px;
    display: inline-block;
    margin-left: 5px;
}

.wbdv-lesson-tab {
    margin-left: 22%;
}

.wbdv-lesson-tab-edit {
    margin-left: 7px;
    font-size: 15px;
}

.wbdv-lesson-tab-edit:hover {
    background-color: darkred;
    color: white;
}

.wbdv-lesson-tab-delete {
    font-size: 15px;
}

.wbdv-lesson-tab-delete:hover {
    background-color: darkred;
    color: white;
}

.wbdv-lesson-tab-check {
    font-size: 15px;
}

.wbdv-lesson-tab-check:hover {
    background-color: darkred;
    color: white;
}

.lesson-selected {
    background-color: #cce5ff;
}

.lesson-unselected {
    background-color: white;
}

.lesson-unselected:hover {
    background-color: #cce5ff;
}

.wbdv-topic-pill-edit {
    margin-left: 7px;
    font-size: 15px;
}

.wbdv-topic-pill-edit:hover {
    background-color: darkred;
    color: white;
}

.topic-selected {
    background-color: #cce5ff
}

.topic-unselected {
    background-color: white;
}

.topic-unselected:hover {
    background-color: #cce5ff;
}

.wbdv-topic-pill-delete:hover {
    background-color: darkred;
    color: white;
}

.wbdv-topic-pill-check:hover {
    background-color: darkred;
    color: white;
}

.wbdv-preview {
    margin-left: 85%;
}

.wbdv-button-group {
    float: right;

}








